@model PersonDocumentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Person.id" class="form-control" />
            <input type="hidden" asp-for="Person.BirthProvince" class="form-control" id="hiddenBirthProvince" />
            <input type="hidden" asp-for="Person.BirthPlace" class="form-control" id="hiddenBirthPlace" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Surname" class="control-label"></label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Sex" class="control-label"></label>
                <select asp-for="Person.Sex" class="form-control">
                    @foreach (var sex in Enum.GetValues(typeof(Sex)))
                    {
                        <option value="@((int)sex)">@sex</option>
                    }
                </select>
                <span asp-validation-for="Person.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthDate" class="control-label"></label>
                <input asp-for="Person.BirthDate" class="form-control" />
                <span asp-validation-for="Person.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthCountry" class="control-label"></label>
                <select asp-for="Person.BirthCountry" class="form-control" id="countrySelector">
                    @foreach (var stato in ViewBag.Stati)
                    {
                        <option value=@stato.Codice>@stato.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Person.BirthCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthProvince" class="control-label"></label>
                <select asp-for="Person.BirthProvince" class="form-control" id="provinceSelector"></select>
                <span asp-validation-for="Person.BirthProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthPlace" class="control-label"></label>
                <select asp-for="Person.BirthPlace" class="form-control" id="placeSelector"></select>
                <span asp-validation-for="Person.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Citizenship" class="control-label"></label>
                <select asp-for="Person.Citizenship" class="form-control" id="citizenshipSelector">
                    @foreach (var stato in ViewBag.Stati)
                    {
                        <option value=@stato.Codice>@stato.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Person.Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PhonePrefix" class="control-label"></label>
                <input asp-for="Person.PhonePrefix" class="form-control" />
                <span asp-validation-for="Person.PhonePrefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PhoneNumber" class="control-label"></label>
                <input asp-for="Person.PhoneNumber" class="form-control" />
                <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.RoleRelation" class="control-label"></label>
                <select asp-for="Person.RoleRelation" class="form-control" id="roleRelationSelector">
                    @foreach (var guestType in ViewBag.TipoAlloggiato)
                    {
                        @if (!guestType.Codice.Equals(99))
                        {
                            <option value="@guestType.Codice">@guestType.Descrizione</option>
                        }
                    }
                </select>
                <span asp-validation-for="Person.RoleRelation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.DocumentType" class="control-label"></label>
                <select asp-for="Document.DocumentType" class="form-control" id="docTypeSelector">
                    @foreach (var docType in ViewBag.TipoDocumento)
                    {
                        <option value="@docType.Codice">@docType.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Document.DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.SerialNumber" class="control-label"></label>
                <input asp-for="Document.SerialNumber" class="form-control" id="serNumInput"/>
                <span asp-validation-for="Document.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.IssuingCountry" class="control-label"></label>
                <select asp-for="Document.IssuingCountry" class="form-control" id="selectorIssuingCountry">
                    @foreach (var stato in ViewBag.Stati)
                    {
                        <option value=@stato.Codice>@stato.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Document.IssuingCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PdfCopyPath" class="control-label"></label>
                <input type="file" accept="application/pdf" asp-for="PdfCopyPath" class="form-control" id="pdfInput"/>
                <span asp-validation-for="PdfCopyPath" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Document.PdfCopy" class="form-control" />
            <input type="hidden" asp-for="Document.PersonID" class="form-control" />
            <div class="form-group">
                <label>Is PDF copy uploaded?</label>
                @if (@Model.Document != null && @Model.Document.PdfCopy != null)
                {
                    <p>Yes</p>
                    <a onclick="return confirm('Are you sure you want to delete this document?');" asp-controller="Document"
                        asp-action="DeletePDFCopy" asp-route-id="@Model.Document.id">Delete PDF Copy</a>
                }
                else
                {
                    <p>No</p>
                }
            </div>
            <input type="hidden" asp-for="Document.id" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/countryProvincePlaceSelector.js" defer></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
