@model IEnumerable<PersonDocumentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @if(TempData["Error"]!=null){
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.BirthProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthCountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.PhonePrefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthPlaceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.BirthProvince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthCountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.PhonePrefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document.SerialNumber)
                </td>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Person.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Person.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Person.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
