@model IEnumerable<PersonDocumentViewModel>

@{
    ViewData["Title"] = "Index";
    var documents = ViewData["DocumentList"] as List<Document>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.BirthProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.BirthCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.PhonePrefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.RoleRelation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.BirthPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.BirthProvince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.BirthCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.PhonePrefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.RoleRelation)
                </td>
                <td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document.SerialNumber)
                </td>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Person.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Person.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Person.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
