@model PersonDocumentConfigViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Host Configuration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <input type="hidden" asp-for="Configuration.PersonID" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Surname" class="control-label"></label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Sex" class="control-label"></label>
                <select asp-for="Person.Sex" class="form-control">
                    @foreach (var sex in Enum.GetValues(typeof(Sex)))
                    {
                        <option value="@((int)sex)">@sex</option>
                    }
                </select>
                <span asp-validation-for="Person.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthDate" class="control-label"></label>
                <input asp-for="Person.BirthDate" class="form-control" />
                <span asp-validation-for="Person.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthCountry" class="control-label"></label>
                <select asp-for="Person.BirthCountry" class="form-control" id="countrySelector">
                    @foreach (var stato in ViewBag.Stati)
                    {
                        <option value=@stato.Codice>@stato.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Person.BirthCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthProvince" class="control-label"></label>
                <select asp-for="Person.BirthProvince" class="form-control" id="provinceSelector">
                    @if (ViewBag.BirthProvince != null)
                    {
                        <option value="@ViewBag.BirthProvince.Codice">@ViewBag.BirthProvince.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Person.BirthProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthPlace" class="control-label"></label>
                <select asp-for="Person.BirthPlace" class="form-control" id="placeSelector">
                    @if (ViewBag.BirthPlace != null)
                    {
                        <option value="@ViewBag.BirthPlace.Codice">@ViewBag.BirthPlace.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Person.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Citizenship" class="control-label"></label>
                <select asp-for="Person.Citizenship" class="form-control" id="citizenshipSelector">
                    @foreach (var stato in ViewBag.Stati)
                    {
                        <option value=@stato.Codice>@stato.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Person.Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PhonePrefix" class="control-label"></label>
                <input asp-for="Person.PhonePrefix" class="form-control" />
                <span asp-validation-for="Person.PhonePrefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PhoneNumber" class="control-label"></label>
                <input asp-for="Person.PhoneNumber" class="form-control" />
                <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.RoleRelation" class="control-label"></label>
                <select asp-for="Person.RoleRelation" class="form-control">
                    <option value="@ViewBag.TipoAlloggiato[0].Codice">@ViewBag.TipoAlloggiato[0].Descrizione</option>
                </select>
                <span asp-validation-for="Person.RoleRelation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.DocumentType" class="control-label"></label>
                <select asp-for="Document.DocumentType" class="form-control">
                    @foreach (var docType in ViewBag.TipoDocumento)
                    {
                        <option value="@docType.Codice">@docType.Descrizione</option>
                    }
                </select>
                <span asp-validation-for="Document.DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.SerialNumber" class="control-label"></label>
                <input asp-for="Document.SerialNumber" class="form-control" />
                <span asp-validation-for="Document.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.IssuingCountry" class="control-label"></label>
                <select asp-for="Document.IssuingCountry" class="form-control" id="selectorIssuingCountry">
                    @foreach (var stato in ViewBag.Stati)
                    {
                        <option value=@stato.Codice>@stato.Descrizione</option>
                    }

                </select>
                <span asp-validation-for="Document.IssuingCountry" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Document.PersonID" class="form-control" />
            <input type="hidden" asp-for="Configuration.DocumentID" class="form-control" />

            <div class="form-group">
                <label asp-for="Configuration.IVAVendite" class="control-label"></label>
                <input asp-for="Configuration.IVAVendite" class="form-control" />
                <span asp-validation-for="Configuration.IVAVendite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Configuration.IVACommissioni" class="control-label"></label>
                <input asp-for="Configuration.IVACommissioni" class="form-control" />
                <span asp-validation-for="Configuration.IVACommissioni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Configuration.CommissioneBancaria" class="control-label"></label>
                <input asp-for="Configuration.CommissioneBancaria" class="form-control" />
                <span asp-validation-for="Configuration.CommissioneBancaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Configuration.AlloggiatiWebUsername" class="control-label"></label>
                <input asp-for="Configuration.AlloggiatiWebUsername" class="form-control" />
                <span asp-validation-for="Configuration.AlloggiatiWebUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Configuration.AlloggiatiWebPassword" class="control-label"></label>
                <input asp-for="Configuration.AlloggiatiWebPassword" class="form-control" />
                <span asp-validation-for="Configuration.AlloggiatiWebPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Configuration.AlloggiatiWebWSKey" class="control-label"></label>
                <input asp-for="Configuration.AlloggiatiWebWSKey" class="form-control" />
                <span asp-validation-for="Configuration.AlloggiatiWebWSKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Configuration.IsGestioneAppartamenti" class="control-label"></label>
                <select asp-for="Configuration.IsGestioneAppartamenti" class="form-control">
                    <option value=@false>No</option>
                    <option value=@true>Yes</option>
                </select>
                <span asp-validation-for="Configuration.IsGestioneAppartamenti" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Configuration.id" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/countryProvincePlaceSelector.js" defer></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
