@model PersonBookingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.BookingDate" class="control-label"></label>
                <input asp-for="Booking.BookingDate" class="form-control" />
                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckinDateTime" class="control-label"></label>
                <input asp-for="Booking.CheckinDateTime" class="form-control" id="checkInDate" />
                <span asp-validation-for="Booking.CheckinDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOutDateTime" class="control-label"></label>
                <input asp-for="Booking.CheckOutDateTime" class="form-control" id="checkOutDate" />
                <span asp-validation-for="Booking.CheckOutDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.IsPaid" class="control-label"></label>
                <select asp-for="Booking.IsPaid" class="form-control" id="isPaidSelector">
                    <option value=@false>No</option>
                    <option value=@true>Yes</option>
                </select>
                <span asp-validation-for="Booking.IsPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PaymentDate" class="control-label"></label>
                <input asp-for="Booking.PaymentDate" class="form-control" id="paymentDateInput" disabled="true"/>
                <span asp-validation-for="Booking.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.ChannelID" class="control-label"></label>
                <select asp-for="Booking.ChannelID" class="form-control">
                    @if (ViewBag.ChannelList != null)
                    {
                        @foreach (var channel in ViewBag.ChannelList)
                        {
                            <option value="@channel.id">@channel.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Booking.IsPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.AccommodationID" class="control-label"></label>
                <select asp-for="Booking.AccommodationID" class="form-control" id="AccommodationsList">
                    @if (ViewBag.AccommodationList != null)
                    {
                        @foreach (var accommodation in ViewBag.AccommodationList)
                        {
                            <option value=@accommodation.id>@accommodation.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Booking.AccommodationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.RoomID" class="control-label"></label>
                <select asp-for="Booking.RoomID" class="form-control" id="RoomsSelector">
                </select>
                <span asp-validation-for="Booking.RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Price" class="control-label"></label>
                <input asp-for="Booking.Price" class="form-control" />
                <span asp-validation-for="Booking.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Discount" class="control-label"></label>
                <input asp-for="Booking.Discount" class="form-control" />
                <span asp-validation-for="Booking.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PersonIDs" class="form-control" id="PersonIDs" />
                <input type="hidden" asp-for="Booking.Sent2Police" class="form-control" id="PersonIDs" value=false />
                <input type="hidden" asp-for="Booking.PreCheckinSent" class="form-control" id="PersonIDs" value=false />
                <input type="hidden" asp-for="Booking.ContractSent" class="form-control" id="PersonIDs" value=false />
                <input type="hidden" asp-for="Booking.ContractPrinted" class="form-control" id="PersonIDs"
                    value=false />
            </div>
            <div class="form-group">
                @if (ViewBag.RoomAlreadyBooked)
                {
                    <p id="roomBlockedP">The room is already booked in that period.</p>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div class="col-md-4">
        <p>
            <label>Search Guests to Add to the Booking: <input type="text" name="SearchPerson"
                    id="SearchPerson" /></label>
            <input type="button" id="searchPersonButton" value="Search Person" />
        <ul id="ResultList"></ul>
        <input type="button" id="addSelectedButton" value="Add selected guests to booking" />

        </p>
        <p>
            <label>Persons on the Booking</label>
        <ul id="PersonsOnBookingList">
            @if(Model.PeopleInBooking!= null){
                @foreach (var pib in Model.PeopleInBooking)
                {
                    <li><input type="checkbox" data-roleCode="@pib.Person.RoleRelation" id="@pib.Person.id">@($"{pib.Person.Name}, {pib.Person.Surname}, {pib.Person.BirthDate}, {pib.RoleName}")</li>
                }
            }
        </ul>
        <input type="button" id="removeSelectedButton" value="Remove selected guests form booking" />
        <p id="personsErrorAlert"></p>
        </p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/getRooms.js" defer></script>
<script src="~/js/searchPerson.js" defer></script>
<script src="~/js/bookingScript.js" defer></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
