@model PersonBookingViewModel

@{
    ViewData["Title"] = "Edit";
    var accommodations=ViewData["AccommodationList"] as List<Accommodation>;
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="form">
            <input type="hidden" asp-for="Booking.id" id="bookingID"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.CheckinDateTime" class="control-label"></label>
                <input asp-for="Booking.CheckinDateTime" class="form-control" />
                <span asp-validation-for="Booking.CheckinDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOutDateTime" class="control-label"></label>
                <input asp-for="Booking.CheckOutDateTime" class="form-control" />
                <span asp-validation-for="Booking.CheckOutDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PaymentDate" class="control-label"></label>
                <input asp-for="Booking.PaymentDate" class="form-control" />
                <span asp-validation-for="Booking.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.IsPaid" class="control-label"></label>
                <select asp-for="Booking.IsPaid" class="form-control">
                    @foreach(var role in Enum.GetValues(typeof(YesNo))){
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="Booking.IsPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingChannel" class="control-label"></label>
                <input asp-for="Booking.BookingChannel" class="form-control" />
                <span asp-validation-for="Booking.BookingChannel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.AccommodationID" class="control-label"></label>
                <select asp-for="Booking.AccommodationID" class="form-control" id="AccommodationsList">
                    @foreach(var accommodation in accommodations){
                        <option value=@accommodation.id>@accommodation.Name</option>
                    }
                </select>
                <span asp-validation-for="Booking.AccommodationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.RoomID" class="control-label"></label>
                <select asp-for="Booking.RoomID" class="form-control" id="RoomsSelector">
                </select>
                <span asp-validation-for="Booking.RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Price" class="control-label"></label>
                <input asp-for="Booking.Price" class="form-control" />
                <span asp-validation-for="Booking.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Discount" class="control-label"></label>
                <input asp-for="Booking.Discount" class="form-control" />
                <span asp-validation-for="Booking.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PersonIDs" class="form-control" id="PersonIDs"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    
    </div>
    <div class="col-md-4">
    <p>
        <label>Search Guests to Add to the Booking: <input type="text" name="SearchPerson" id="SearchPerson" /></label>
        <input type="button" id="searchPersonButton" value="Search Person" />
        <ul id="ResultList"></ul>
        <input type="button" id="addSelectedButton" value="Add selected guests to booking" />

    </p>
    <p>
        <label>Persons on the Booking</label>
        <ul id="PersonsOnBookingList">
            @foreach(var person in Model.PeopleInBooking)
            {
                <li><input type="checkbox" id="@person.id" >@($"{person.Name}, {person.Surname}, {person.BirthDate}")</li>
            }
        </ul>
        <input type="button" id="removeSelectedButton" value="Remove selected guests form booking" />
    </p>
    </div>
    <div class="col-md-4">
    <p>
        <input type="button" id="generateContract" value="Generate Contract" />
    </p>
    <p>
        <input type="button" id="generateBookingDetails" value="Generate Booking Details Sheet" />
    </p>
    <p>
        <input type="button" id="generatePreCheckin" value="Generate Pre-Checkin Sheet" />
    </p>
    <p>
        <input type="button" id="generateContractPDF" value="Generate Contract PDF" />
    </p>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/getRooms.js" defer></script>
<script src="~/js/searchPerson.js" defer></script>
<script src="~/js/documentCreation.js" defer></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
