@model IEnumerable<BookingAccommodationRoomChannelViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking.CheckinDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.CheckOutDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookChannelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccommodationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.CheckinDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.CheckOutDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.IsPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookChannelName);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccommodationName);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Discount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Booking.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Booking.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Booking.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
