@model IEnumerable<RoomAccommodationViewModel>

@{
    ViewData["Title"] = "Index";
    var accommodations=ViewData["AccommodationList"] as List<Accommodation>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @if(TempData["Error"]!=null){
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccommodationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.BasicPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccommodationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.BasicPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Room.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Room.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Room.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
